<div class="container">
  <h2 style="text-align:center;color:green">My Application</h2>

  <p appColor>My Application is good and power full</p>

  <nav>
    <ul>
      <li><a routerLink="/home" routerLinkAcive="active"> Home</a></li>
      <li><a routerLink="/user/login" routerLinkAcive="active"> Login</a></li>
      <li>
        <a routerLink="/user/sign-up" routerLinkAcive="active"> Sign-Up</a>
      </li>
      <li><a routerLink="/about/info" routerLinkAcive="active"> Info</a></li>
      <li>
        <a routerLink="/about/contact-us" routerLinkAcive="active">
          Contact-Us</a
        >
      </li>
    </ul>
  </nav>

  <router-outlet></router-outlet>
</div>
